---
import Image from "astro/components/Image.astro";
---

<main id="main-window" class="relative h-[100dvh] w-full bg-white">
  <div id="spacer" class="h-[400dvh] w-full bg-primary">
    <img
      id="logo"
      src="SRHLogo_Glitch.gif"
      alt="SRH Logo website logo"
      class="sticky left-1/2 top-1/2 w-1/3 -translate-x-1/2 -translate-y-1/2 transition-all duration-700 sm:w-3/12 sm:landscape:w-1/12"
    />

    <div
      id="mainTitle"
      class="sticky top-full w-full text-center text-accent transition-all duration-700"
    >
      <div
        id="mainText"
        class="w-full whitespace-nowrap text-center text-[33vw] font-black leading-none"
      >
        <span>A</span><span id="letterR" class="relative"
          >R<p
            id="para1"
            class="absolute right-0 top-[200%] h-28 w-32 -translate-y-full whitespace-pre-wrap text-wrap text-right text-xs sm:text-base font-bold leading-tight text-secondary-accent transition-all duration-700"
          >
            We harness empirical marketing(1) to awaken brands to their true
            potential
          </p></span
        ><span class="relative"
          >I<span
            id="iExpendable"
            class="absolute left-0 top-0 origin-bottom transition-all duration-700"
            >I</span
          ><span class="relative"
            >S<p
              id="para2"
              class="absolute left-0 top-[200%] h-28 w-32 -translate-y-full text-wrap text-left text-xs sm:text-base font-bold leading-tight text-secondary-accent transition-all duration-700"
            >
              We use strategy, creative and media to make brands famous in their
              categories.
            </p></span
          ><span>E</span>
        </span>

        <div
          id="subText"
          class="w-full -translate-y-1/2 whitespace-nowrap text-center text-[9.5vw] font-black leading-none"
        >
          YE SLEEPING GIANTS
        </div>
      </div>
    </div>

    <script>
      const break1 = 10;
      const break2 = 20;
      const break3 = 30;
      const break4 = 40;
      const break5 = 50;

      const logo = document.getElementById("logo") as HTMLImageElement;
      const main = document.getElementById("main-section") as HTMLElement;
      const mainTitle = document.getElementById("mainTitle") as HTMLElement;
      const iExpendable = document.getElementById("iExpendable") as HTMLElement;
      const letterR = document.getElementById("letterR") as HTMLElement;
      const para1 = document.getElementById("para1") as HTMLElement;
      const para2 = document.getElementById("para2") as HTMLElement;

      const isMobile = window.matchMedia("(max-width: 639px)").matches;
      const isTablet = window.matchMedia(
        "(min-width: 640px) and (max-width: 1023px)"
      ).matches;
      const isLaptop = window.matchMedia(
        "(min-width: 1024px) and (max-width: 1279px)"
      ).matches;
      const isDesktop = window.matchMedia(
        "(min-width: 1280px) and (max-width: 1535px)"
      ).matches;
      const isLargeDesktop = window.matchMedia("(min-width: 1536px)").matches;

      function insertInMainFunction(text: string) {
        const newh1 = document.createElement("h1"); // Create a new h1 element
        newh1.textContent = text; // Set the text content
        main.appendChild(newh1); // Append the new h1 element to the main element
      }

      window.addEventListener("scroll", (ev: Event) => {
        const scrollY = window.scrollY;
        const scrollHeight = document.documentElement.scrollHeight;
        const scrobbaleHeight = scrollHeight - window.outerHeight;

        const scrolledPercentage = (scrollY / scrobbaleHeight) * 100;
        console.log("here & There", scrolledPercentage);

        function mainTitleAnimation() {
          if (isMobile) {
          } else {
          }
        }

        if (scrolledPercentage <= break1) { // SCroll 1
          logo.style.left = "50%";
          logo.style.top = "50%";
          logo.style.transform = "translate(-50%,-50%)";

          mainTitle.style.top = "100%";

          iExpendable.style.transform = "scaleY(1)";

          para1.style.top = "200%";
          para2.style.top = "200%";
        } else if ( // SCROLL 2
          scrolledPercentage > break1 &&
          scrolledPercentage <= break2
        ) {
          logo.style.left = "4%";
          logo.style.top = "2%";
          logo.style.transform = "translate(0,0)";

          if (isMobile) {
            mainTitle.style.top = "78%";
          } else if (isTablet) {
            mainTitle.style.top = "71%";
          } else if (isLaptop) {
            mainTitle.style.top = "49%";
          } else if (isDesktop) {
            mainTitle.style.top = "40%";
          } else if (isLargeDesktop) {
            mainTitle.style.top = "32%";
          }

          iExpendable.style.transform = "scaleY(1)";
        } else if ( // SCROLL 3
          scrolledPercentage > break2 &&
          scrolledPercentage <= break3
        ) {
          if (isMobile) {
            iExpendable.style.transform = "scaleY(6)";
            para1.style.top = "200%";
            mainTitle.style.top = "78%";
          } else if (isTablet) {
            iExpendable.style.transform = "scaleY(4.35)";
          } else if (isLaptop) {
            iExpendable.style.transform = "scaleY(3)";
          } else if (isDesktop) {
            iExpendable.style.transform = "scaleY(2.1)";
          } else if (isLargeDesktop) {
            iExpendable.style.transform = "scaleY(1.8)";
          }
        } else if ( // SCROLL 4
          scrolledPercentage > break3 &&
          scrolledPercentage <= break4
        ) {

          if (isMobile) {
            mainTitle.style.top = "81%";
            para1.style.top = "10%";
          } else if (isTablet) {
            mainTitle.style.top = "76%";
            para1.style.top = "-10%";
          } else if (isLaptop) {
            mainTitle.style.top = "56%";
            para1.style.top = "-10%";
          } else if (isDesktop) {

          }
        } else if (
          scrolledPercentage > break4 &&
          scrolledPercentage <= break5
        ) {

          if (isMobile) {
            mainTitle.style.top = "60%";
          } else if (isTablet) {
            mainTitle.style.top = "60%";
          } else if (isLaptop) {
            mainTitle.style.top = "62%";
            para2.style.top = "-10%"
          }
        }
      });
    </script>
  </div>
</main>
