---

---

<main class="h-screen w-full bg-primary ">
  <img
    src="SRHLogo_Glitch.gif"
    alt="SRH Logo website logo"
    class="relative left-1/2 top-1/2 w-1/3 -translate-x-1/2 -translate-y-1/2 transition-all duration-500 sm:w-2/12 sm:landscape:w-1/12"
  />
</main>
