---
import Layout from '../layouts/Layout.astro';
---

<Layout title="SRH | Big ideas & Proven Results">
	<main>
		<img src="SRHLogo_Glitch.gif" alt="SRH Logo website logo" class="w-3/1 portrait:sm:w-3/12 landscape:sm:w-2/12 transition-all ease-in-out duration-500" >
	</main>
</Layout>

<style>

	main {
	}

</style>
