---
import MyButton from "../components/atoms/MyButton.astro";
import Logo from "../components/atoms/logo.astro";
import Layout from "../layouts/Layout.astro";
import MyFooter from "../components/My-footer.astro";
import PlaceHolderImage from "../assets/images/placeHolderImage.astro";
import { BrandCategories, projects } from "../constants";

import p1 from "../assets/images/p1.png";
import p2 from "../assets/images/p2.png";
import p3 from "../assets/images/p3.png";
import p4 from "../assets/images/p4.png";
import p5 from "../assets/images/p5.png";
import p6 from "../assets/images/p6.png";

const images = [p1, p2, p3, p4, p5, p6];
---

<Layout title="our work">
  <div
    class="flex h-[90dvh] w-full flex-col items-center justify-center bg-primary"
  >
    <div class="flex flex-col items-center justify-center">
      <h1 class="w-[90%] text-center text-9xl font-black text-accent">
        THE <span class="text-secondary-accent">WORK</span>
      </h1>
      <p class="w-[80%] text-center text-xl font-medium text-secondary-accent">
        From brand identies to integrated campaigns, here are some of our
        greatest hits.
      </p>
    </div>

    <div
      class="mt-8 flex flex-wrap items-center justify-center gap-2 px-8 sm:gap-4"
    >
      {
        BrandCategories.map((category: string) => (
          <MyButton
            class="!border-2 !border-white !py-2.5 !text-xl !font-normal !text-white"
            title={category}
          />
        ))
      }
    </div>
  </div>

  <div
    class="flex min-h-[100dvh] w-full flex-col items-center bg-primary p-8 transition-all duration-1000 sm:p-12"
    id="test-group"
  >
    <div
      id="main-container"
      class="grid h-auto w-full grid-cols-1 items-center justify-items-center gap-8 sm:grid-cols-2 md:grid-cols-2 2xl:grid-cols-3"
    >
      {
        projects.map((project, index) => (
          <item class="aspect-video h-full w-[80%] overflow-clip rounded-2xl object-center transition-all sm:w-full">
            <img
              class="h-full w-full object-cover"
              src={images[index].src}
              alt="A description of my image."
            />

            <div class="absolute bottom-0 left-0 p-4">
              <h1 class="text-3xl font-bold text-white">{project.title}</h1>
              <p class="text-lg text-white">{project.category}</p>
            </div>
          </item>
        ))
      }
    </div>

    <MyButton
      class="left-1/2 !my-10 !border-2 !border-white !py-2.5 !text-xl !font-normal !text-white"
      title="View More"
    />
  </div>

  <MyFooter />
</Layout>

<style>
  item {
    position: relative;
  }
  item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Translucent gray color */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  item:hover::before {
    opacity: 1;
  }
</style>
