---
import MyButton from "../components/atoms/MyButton.astro";
import Logo from "../components/atoms/logo.astro";
import Layout from "../layouts/Layout.astro";
import MyFooter from "../components/My-footer.astro";
import PlaceHolderImage from "../assets/images/placeHolderImage.astro";

import { BrandCategories } from "../constants";
---

<Layout title="our work">
  <div
    class="flex h-[90dvh] w-full flex-col items-center justify-center bg-primary"
  >
    <div class="flex flex-col items-center justify-center">
      <h1 class="w-[90%] text-center text-9xl font-black text-accent">
        THE <span class="text-secondary-accent">WORK</span>
      </h1>
      <p class="w-[80%] text-center text-xl font-medium text-secondary-accent">
        From brand identies to integrated campaigns, here are some of our
        greatest hits.
      </p>
    </div>
    <div class="mt-8 flex flex-wrap items-center justify-center gap-2 sm:gap-4 px-8">
      {
        BrandCategories.map((category: string) => (
          <MyButton
            class="!border-2 !border-white !py-2.5 !text-xl !font-normal !text-white"
            title={category}
          />
        ))
      }
    </div>
  </div>
</Layout>

<div
  class="relative min-h-[100dvh] w-full flex-col bg-primary transition-all duration-1000"
  id="test-group"
>
  <div
    id="main-container"
    class="grid h-auto w-full grid-cols-1 items-center justify-items-center gap-8  py-10 sm:grid-cols-2 sm:px-24 md:grid-cols-2 2xl:grid-cols-3"
  >
    {
      Array.from({ length: 10 }).map((_, index) => (
        <item
          style="background-image: url(/logo.png);"
          class="aspect-video rounded-2xl overflow-clip h-full w-[80%]  object-center sm:w-full"
        >
          <img
            src="https://picsum.photos/seed/picsum/600/400"
            class="h-full w-full object-cover"
          />
        </item>
      ))
    }
  </div>
</div>

<MyFooter />
