---
import MyButton from "../components/atoms/MyButton.astro";
import Logo from "../components/atoms/logo.astro";
import Layout from "../layouts/Layout.astro";
import MyFooter from "../components/My-footer.astro";
import PlaceHolderImage from "../assets/images/placeHolderImage.astro";
---

<Layout title="our work">
  <div
    class="relative left-1/2 min-h-[100dvh] w-[120dvw] -translate-x-1/2 flex-col items-center bg-primary transition-all duration-1000"
    id="test-group"
  >
    <div
      id="main-container"
      class=" p-8 sm:px-24 grid h-auto w-full grid-cols-1 items-center justify-items-center gap-10 bg-red-600 sm:grid-cols-2"
    >

      <item class="w-[80%] aspect-video border-2 bg-red-800 ">
        <PlaceHolderImage />
      </item>
      <item class="w-[80%] aspect-video border-2 bg-red-800 ">
        <PlaceHolderImage />
      </item>
      <item class="w-[80%] aspect-video border-2 bg-red-800 ">
        <PlaceHolderImage />
      </item>
      <item class="w-[80%] aspect-video border-2 bg-red-800 ">
        <PlaceHolderImage />
      </item>
      <item class="w-[80%] aspect-video border-2 bg-red-800 ">
        <PlaceHolderImage />
      </item>
      <item class="w-[80%] aspect-video border-2 bg-red-800 ">
        <PlaceHolderImage />
      </item>
      <item class="w-[80%] aspect-video border-2 bg-red-800 ">
        <PlaceHolderImage />
      </item>
      <item class="w-[80%] aspect-video border-2 bg-red-800 ">
        <PlaceHolderImage />
      </item>
      <item class="w-[80%] aspect-video border-2 bg-red-800 ">
        <PlaceHolderImage />
      </item>


      
    </div>
  </div>

  <MyFooter />
</Layout>
