---
import MyButton from "../components/atoms/MyButton.astro";
import Logo from "../components/atoms/logo.astro";
import Layout from "../layouts/Layout.astro";
import MyFooter from "../components/My-footer.astro";
import PlaceHolderImage from "../assets/images/placeHolderImage.astro";
---

<Layout title="our work">
  <div
    class="relative min-h-[100dvh] w-full flex-col bg-primary transition-all duration-1000"
    id="test-group"
  >
    <div
      id="main-container"
      class="grid h-auto w-full grid-cols-1 items-center justify-items-center gap-8 bg-red-600 py-10 sm:grid-cols-2 sm:px-24 md:grid-cols-2 2xl:grid-cols-3"
    >
      <item
        style="background-image: url(/public/logo.png);"
        class="aspect-video h-full w-full border-2 bg-red-800 object-center"
      >
        <img src="https://picsum.photos/seed/picsum/600/400" class="h-full w-full object-cover" />
      </item>

      <item
        style="background-image: url(/public/logo.png);"
        class="aspect-video h-full w-full border-2 bg-red-800 object-center"
      >
        <img src="https://picsum.photos/seed/picsum/600/400" class="h-full w-full object-cover" />
      </item>
      <item
        style="background-image: url(/public/logo.png);"
        class="aspect-video h-full w-full border-2 bg-red-800 object-center"
      >
        <img src="https://picsum.photos/seed/picsum/600/400" class="h-full w-full object-cover" />
      </item>
      <item
        style="background-image: url(/public/logo.png);"
        class="aspect-video h-full w-full border-2 bg-red-800 object-center"
      >
        <img src="https://picsum.photos/seed/picsum/600/400" class="h-full w-full object-cover" />
      </item>
      <item
        style="background-image: url(/public/logo.png);"
        class="aspect-video h-full w-full border-2 bg-red-800 object-center"
      >
        <img src="https://picsum.photos/seed/picsum/600/400" class="h-full w-full object-cover" />
      </item>
      <item
        style="background-image: url(/public/logo.png);"
        class="aspect-video h-full w-full border-2 bg-red-800 object-center"
      >
        <img src="https://picsum.photos/seed/picsum/600/400" class="h-full w-full object-cover" />
      </item>
      <item
        style="background-image: url(/public/logo.png);"
        class="aspect-video h-full w-full border-2 bg-red-800 object-center"
      >
        <img src="https://picsum.photos/seed/picsum/600/400" class="h-full w-full object-cover" />
      </item>
      <item
        style="background-image: url(/public/logo.png);"
        class="aspect-video h-full w-full border-2 bg-red-800 object-center"
      >
        <img src="https://picsum.photos/seed/picsum/600/400" class="h-full w-full object-cover" />
      </item>
      <item
        style="background-image: url(/public/logo.png);"
        class="aspect-video h-full w-full border-2 bg-red-800 object-center"
      >
        <img src="https://picsum.photos/seed/picsum/600/400" class="h-full w-full object-cover" />
      </item>
    </div>
  </div>

  <MyFooter />
</Layout>
