---
import MyButton from "../components/atoms/MyButton.astro";
import Logo from "../components/atoms/logo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="our work">

  <div
    class="pointer-events-none fixed top-0 flex h-[100dvh] w-[120dvw] flex-col items-center justify-center bg-secondary-accent text-center transition-all duration-1000"
    id="test-group"
  >
    <a href="/">
      <MyButton title="My work" href="/" />
    </a>
    <div class="bg-green-900"></div>
    <Logo />
    <p>P is For TEst & TEst</p>
  </div>

  <select>
    <option value="/play">Play</option>
    <option value="/work">Work</option>
    <option value="/about">About</option>
    <option value="/contact">Contact</option>
  </select>
</Layout>
