---
import MyButton from "../components/atoms/MyButton.astro";
import Logo from "../components/atoms/logo.astro";
import Layout from "../layouts/Layout.astro";
import MyFooter from "../components/My-footer.astro";
---

<Layout title="our work">
  <div
    class="relative left-1/2 -translate-x-1/2 flex h-[100dvh] w-[120dvw] flex-col items-center justify-center bg-primary text-center transition-all duration-1000"
    id="test-group"
  >
    <a href="/">
      <MyButton title="My work" href="/" />
    </a>
    <div class="bg-green-900"></div>
    <Logo />
    <p>P is For TEst & TEst</p>
  </div>
  <MyFooter/>


</Layout>
