<div
  class="absolute top-0 bg-red-900 items-center flex  flex-col transition-all duration-[1000ms]"
  id="test-group"
>
  <!-- <h1
    class="text-[12.5rem] font-black leading-none text-secondary-accent transition-all delay-1000 duration-1000"
  >
    Testy Test
  </h1> -->
  <!-- <div class="relative translate-x-1/3  flex flex-col justify-start">

    <div
      class="text-[9rem] font-black leading-none text-secondary-accent transition-all delay-999 duration-1000"
    >
      Sanjay TEst Gosemi
    </div>

    <div class="leading-2 w-5/6 text-xl font-normal text-secondary-accent">
      We have tools that harness brand growth<br />
      research & principles that most agencies in <br />
      America aren't even paying attention to -<br />
      like The Cogs, a brand health dashboard<br />
      that measures what matters(1).
    </div>

  </div> -->

</div>

<script>
  import { break4, break3, break9, break10, break11, break12, break13 , break1, break2} from "../constants";

  const elementScroll = document.getElementById("main-window");
  const empericalTextGroup = document.getElementById(
    "test-group"
  ) as HTMLElement;

  elementScroll?.addEventListener("scroll", (el: Event) => {
    const target = el.target as HTMLElement;
    const scrollableHeight = target.scrollHeight - window.outerHeight;
    const scrollPercentage = (target.scrollTop / scrollableHeight) * 100;

    if (scrollPercentage < break1) {

      empericalTextGroup.style.top = "0"

    } else if (scrollPercentage > break1 && scrollPercentage <= break2) {

      empericalTextGroup.style.top = "100dvh"

    }else {

      // empericalTextGroup.style.top = "100%"
    }
  });
</script>
