<div
  class=" bg-secondary-accent sticky opacity-0 -top-[100dvh] h-[100dvh] flex flex-col justify-center text-center items-center  transition-all duration-1000 delay-500 "
  id="test-group"
>

  <div class=" text-black font-black text-4xl" > See work </div>

  <div class="bg-green-900"> Sanjay Goswami Test Result of the Paper Plane </div>

  <!-- <h1
    class="text-[12.5rem] font-black leading-none text-secondary-accent transition-all delay-1000 duration-1000"
  >
    Testy Test
  </h1> -->

  <!-- <div class="relative translate-x-1/3  flex flex-col justify-start">

    <div
      class="text-[9rem] font-black leading-none text-secondary-accent transition-all delay-999 duration-1000"
    >
      Sanjay TEst Gosemi
    </div>

    <div class="leading-2 w-5/6 text-xl font-normal text-secondary-accent">
      We have tools that harness brand growth<br />
      research & principles that most agencies in <br />
      America aren't even paying attention to -<br />
      like The Cogs, a brand health dashboard<br />
      that measures what matters(1).
    </div>

  </div> -->

</div>

<script>
  import {
    break4,
    break5,
    break6,
    break3,
    break9,
    break10,
    break11,
    break12,
    break13,
    break1,
    break2,
    break14,
    break15
  } from "../constants";

  const elementScroll = document.getElementById("main-window");
  const testGroup = document.getElementById(
    "test-group"
  ) as HTMLElement;

  elementScroll?.addEventListener("scroll", (el: Event) => {
    const target = el.target as HTMLElement;
    const scrollableHeight = target.scrollHeight - window.outerHeight;
    const scrollPercentage = (target.scrollTop / scrollableHeight) * 100;

    if (scrollPercentage < break13) {

      testGroup.style.top = "-100dvh"
      testGroup.style.opacity = "0"

    } else if (scrollPercentage > break13 && scrollPercentage <= break14) {

      testGroup.style.top = "0"
      testGroup.style.opacity = "1"

    } else if (scrollPercentage > break14 && scrollPercentage <= break15) {

      testGroup.style.top = "-100dvh"
      testGroup.style.opacity = "0"

    }
  });
</script>
