<h1
    class=" absolute left-1/2 top-0 w-[100dvw] -translate-x-1/2 text-[35dvw] font-black leading-none text-secondary-accent"
  >
    F<span class="relative inline-block"
      >A<div
        class="absolute left-0 top-[87%] w-auto text-8xl font-black leading-none text-secondary-accent"
      >
        BUILDERS
        <div
          class="leading-2  w-5/6 text-xl font-normal text-secondary-accent"
        >
          SRH spans entertainment and advertising, giving you access to top
          talent and big ideas. <br />
          <br /> We believe that big, bold stunts can be the most efficient way to
          build mental availability (1).
        </div>
      </div></span
    >ME
  </h1>