---
import MyButton from "./atoms/MyButton.astro";
---

<div
  class="pointer-events-none fixed -top-[100dvh] flex h-[100dvh] w-[120dvw] flex-col items-center justify-center bg-secondary-accent text-center transition-all duration-1000"
  id="test-group"
>
  <!-- <div class="text-4xl font-black text-black">See work</div> -->
  <MyButton title="My work" />
  <div class="bg-green-900"></div>
</div>

<script>

  import {
    break4,
    break5,
    break6,
    break3,
    break9,
    break10,
    break11,
    break12,
    break13,
    break1,
    break2,
    break14,
    break15,
  } from "../constants";


  const elementScroll = document.getElementById("main-window");
  const testGroup = document.getElementById("test-group") as HTMLElement;

  elementScroll?.addEventListener("scroll", (el: Event) => {
    const target = el.target as HTMLElement;
    const scrollableHeight = target.scrollHeight - window.outerHeight;
    const scrollPercentage = (target.scrollTop / scrollableHeight) * 100;

    if (scrollPercentage < break13) {
      testGroup.style.top = "-100dvh";
    } else if (scrollPercentage >= break13 && scrollPercentage <= break14) {
      testGroup.style.top = "0";
    } else if (scrollPercentage > break14 && scrollPercentage <= break15) {
      // testGroup.style.top = "-100dvh"
    }
  });
</script>
