<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="width: 70dvw; height: 70dvh; background-color: blue">
      TEst Here is not the One
      <div style=" margin-top: 200px; margin-left: 50px; top: 200px; width: 50dvh; height: 50dvh; left: 50%; background-color: red;" >
        <div style="position: fixed; top: 0; right: 0; width: 200px; height: 200px; background-color: green; " > Sanay Goswami </div>
      </div>
    </div>
  </body>
</html>
