---
  const {class: passedClass} = Astro.props
---

<a href="/" class={passedClass} >
  <img
    id="logo"
    src="logo.png"
    alt="SRH Logo website logo"
    width="120px"
    class={passedClass}
  />
</a>
