---
const { title, link } = Astro.props;
---

<button
  class="pointer-events-auto mx-5 my-2.5 h-[100px] w-[400px] rounded-full border-4 border-accent text-5xl font-extrabold text-accent hover:text-white"
>
  {title}
</button>
