---
const { title, link } = Astro.props;
---

<button
  class=" px-8 pointer-events-auto py-4  rounded-full border-4 border-accent text-3xl font-medium text-accent hover:text-white"
>
  {title}
</button>
